/* line 2, ../sass/custom.scss */
.centrado {
  float: center;
  width: 1000px;
  padding: 40px;
}

/* line 8, ../sass/custom.scss */
.centro {
  float: center;
  width: 910px;
}

/* line 14, ../sass/custom.scss */
label.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  border: 1px solid transparent;
  border-top-color: #f1b0b7;
  padding: x;
}

/* line 75, ../sass/custom.scss */
.draw-border {
  box-shadow: inset 0 0 0 4px #ffc107;
  color: #ffc107;
  transition: color 0.25s 0.08333s;
  position: relative;
}
/* line 31, ../sass/custom.scss */
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
/* line 44, ../sass/custom.scss */
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
/* line 51, ../sass/custom.scss */
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
/* line 58, ../sass/custom.scss */
.draw-border:hover {
  color: black;
}
/* line 61, ../sass/custom.scss */
.draw-border:hover::before, .draw-border:hover::after {
  border-color: black;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
/* line 69, ../sass/custom.scss */
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
/* line 71, ../sass/custom.scss */
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

/* line 80, ../sass/custom.scss */
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
/* line 89, ../sass/custom.scss */
.btn:focus {
  outline: 2px dotted #55d7dc;
}
